<!DOCTYPE html>
<html lang="ja">
<head>
    <title>NaotoOzaki's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="/favicon.ico">

    <!-- vendors  -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="css/vendor/lightgallery.css">

    <!-- original -->
    <link rel="stylesheet" href="css/my_muuri.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4 sticky-navbar site-navbar-target shrink" role="banner">

    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="#home-section" class="page-logo">
                    <span class="flaticon-coding"></span>
                    NaotoOzaki
                </a>
            </div>
            <div>
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="#home-section" class="nav-link">自己紹介</a></li>
                        <li><a href="#skill-section" class="nav-link">スキル</a></li>
                        <li><a href="#work-section" class="nav-link">実績</a></li>
                        <li><a href="#contact-section" class="nav-link">お問い合わせ/お仕事のご依頼</a></li>
                    </ul>
                </nav>
            </div>
            <div class="ml-auto">
                <a href="#"
                   class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right hamburger-menu-icon">
                </a>
            </div>
        </div>
    </div>

</header>

<div class="site-wrap">

    <div class="intro-section" id="home-section">
        <div class="container intro-section-content">
            <div class="row align-items-center">
                <div class="col-lg-4 mr-auto" data-aos="fade-up">
                    <h1 id="intro-name">尾崎直人</h1>
                    <div class="intro-detail">
                        <ul>
                            <li>
                                フリーランス
                            </li>
                            <li>
                                フルスタックエンジニア
                            </li>
                            <li>
                                東京都 出身/在住
                            </li>
                            <li>
                                情報理工学系研究科にて修士号を取得
                            </li>
                            <li>
                                都内IT企業にて2年弱ゲームエンジニアとして勤務した後に退職
                            </li>
                            <li>
                                企業様からも、個人様からもどのような要件/案件でもお気軽に<a id="intro-contact-link"
                                                                class="intro-bold-text text-nowrap"
                                                                href="#contact-section">お問い合わせ</a>ください！
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 text-center text-lg-right">
                    <img src="img/profile.jpg" alt="Image" class="img-fluid profile-img">
                </div>
            </div>
        </div>
    </div>

    <div id="skill-section" class="container pt-5">
        <h2 class="mb-3">スキル</h2>
        <div class="row">
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="process p-3">
                    <span class="number">01</span>
                    <div>
                        <span class="flaticon-internet display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Webシステム開発</h3>
                        <p>Web上で動作するあらゆるシステムのご依頼を承ります。</p>
                        <p>サーバー選定、環境構築、フロントエンド・バックエンド開発、ドメイン取得、https化からリリースまで、全行程を対応いたします。</p>
                        <p>リリース後の保守/修正対応もお申し付けください。</p>
                        <p>まずはお気軽に<a href="#contact-section">ご相談</a>ください。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="process p-3">
                    <span class="number">02</span>
                    <div>
                        <span class="flaticon-code display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>ツール/アプリ開発</h3>
                        <p>Windows, Mac, Linux上で動作するローカルアプリケーション、スマホアプリなどの開発のご依頼も承っております。</p>
                        <p>あなたの定型作業を自動化するツールの開発や、ブラウザの拡張機能など、あらゆる領域のご要望にお答えいたします。</p>
                        <p>まずはお気軽に<a href="#contact-section">ご相談</a>ください。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="process p-3">
                    <span class="number">03</span>
                    <div>
                        <span class="flaticon-brain display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>スクレイピング</h3>
                        <p>Webページのスクレイピング、クローリングシステムの開発のご依頼も承っております。</p>
                        <p>プロキシサーバーを介した複数IPでのアクセスや、Javascriptの実行が必要なページにも対応できるノウハウがあります。</p>
                        <p>ご依頼の際は、ターゲットとなるページのURLの一例を添えて頂けるとスムーズです。</p>
                        <p>まずはお気軽に<a href="#contact-section">ご相談</a>ください。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app" v-cloak>
        <div id="work-section" class="container pt-3">
            <h2 class="mb-3">実績</h2>
            <div class="row">

                <div
                        v-for="tagTypeId in [1,2,3,4,999]"
                        v-bind:key="tagTypeId"
                        class="tag-filters"
                >
                    <table>
                        <tr>
                            <td class="text-nowrap tag-filters-title">
                                {{ tagTypeIdIntoName[tagTypeId] }}
                            </td>
                            <td>
                                <a
                                        v-for="(tag, tagName) in getTagsByTypeId(tagTypeId)"
                                        href="#"
                                        v-bind:class="'badge filter-badge-button ' +
                                      (tag.tagFilterClass ? tag.tagFilterClass : '') + ' ' +
                                      (activeFilterTag.id == tag.id ? 'active' : '')"
                                        style="margin: 1px"
                                        v-on:click="toggleTagFilter($event, tag)"
                                >
                                    {{ tag.dispName }}
                                    <span class="badge">{{ tagNum[tag.id] }}</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">

                <div id="work-muuri">
                    <div
                            v-for="(work, key) in works"
                            v-bind:key="key"
                            v-bind:data-work-key="key"
                            class="item"
                    >
                        <div class="item-content">
                            <!--                        <div v-bind:class="'card work-card ' + getCardBorderClassNameByTags(work.tags) ">-->
                            <div
                                    v-bind:class="'card work-card ' + (work.detail ? 'work-card-has-detail ' : '')"
                                    v-bind:data-work-key="key"
                            >
                                <div
                                        class=""
                                        v-bind:data-toggle="work.detail ? 'modal' : ''" data-target="#work-detail-modal"
                                >

                                    <div class="card-img-top">
                                        <img class="card-work-img"
                                             v-if="!work.noImage"
                                             v-bind:src="(work.noImage ? '/img/work/no_image.jpg' : `/img/work/${key}/1.jpg`)"
                                             alt="カードの画像">
                                    </div>

                                    <div class="card-body work-card-body">
                                        <img
                                                v-if="!!work.detail"
                                                class="has-detail-icon"
                                                src="/img/zoom-in.png"
                                        >

                                        <div class="mb-1">
                                            <h5 class="muuri-work-title">
                                                {{ work.title }}
                                            </h5>
                                            <div class="work-date" v-if="work.releaseDate">
                                                <span v-if="!work.releaseDate.dispText && work.releaseDate.startMoment">
                                                    {{ work.releaseDate.startMoment.format('YYYY年MM月DD日') }}
                                                </span>
                                                <span v-if="work.releaseDate.startMoment || work.releaseDate.endMoment">
                                                    ~
                                                </span>
                                                <span v-if="!work.releaseDate.dispText && work.releaseDate.endMoment">
                                                    {{ work.releaseDate.endMoment.format('YYYY年MM月DD日') }}
                                                </span>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            {{ work.summary }}
                                        </p>
                                    </div>
                                </div>

                                <div

                                        v-if="work.tags && work.tags.length"
                                        class="card-footer work-card-footer"
                                >
                                    <a
                                            v-for="tag in work.tags"
                                            href="#"
                                            v-bind:class="'badge ' +  (tag.badgeClass ? tag.badgeClass : 'badge-secondary')"
                                            v-on:click="toggleTagFilter($event, tag, { scrollToWorkTop: true, preventCancel: true, })"
                                            style="margin: 1px"
                                    >
                                        {{ tag.dispName }}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="work-detail-modal" tabindex="-1" role="dialog"
                     aria-labelledby="workDetailModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="workDetailModalLabel">
                                    {{ targetWork.title }}
                                    <span class="work-date" v-if="targetWork.startMoment">
                                    {{ targetWork.startMoment.format('YYYY-MM-DD') }} 〜
                                </span>
                                    <span class="work-date" v-if="targetWork.endMoment">
                                    {{ targetWork.endMoment.format('YYYY-MM-DD') }}
                                </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="mb-3" id="work-image-gallery" v-if="!targetWork.shouldHideWorkImage">
                                        <a
                                                v-for="imgFileName in workImageFileNames"
                                                v-bind:key="imgFileName"
                                                v-bind:href="`/img/work/${targetWorkKey}/${imgFileName}`"
                                                class="work-img-div"
                                        >
                                            <img v-bind:src="`/img/work/${targetWorkKey}/${imgFileName}`"
                                                 class="work-img">
                                        </a>
                                    </div>

                                    <div class="row mb-2" v-if="!!targetWork.productUrl">
                                        <a class="product-url" target="_blank" v-bind:href="targetWork.productUrl">
                                            {{ targetWork.productUrl }}
                                        </a>
                                    </div>

                                    <div class="row">
                                        <p v-html="targetWork.detail"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact-section" class="container">

            <h2 class="mb-3">お問い合わせ/お仕事のご依頼</h2>
            <p>
                企業様、個人様問わず、些細なことでもお気軽にお問い合わせください。<br>
                返信先を記入頂ければ基本的に遅くとも48時間以内にご返信いたします。
            </p>

            <div class="row justify-content-center">
                <div class="offset-md-2"></div>
                <div class="col-md-8 col-12">
                    <div class="contact-forms-div">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input
                                        id="input-contact-reply"
                                        v-model="contactReply"
                                        type="email"
                                        class="form-control"
                                        placeholder="返信先 (形式不問)"
                                >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                    <textarea
                                            id="input-contact-text"
                                            v-model="contactText"
                                            class="form-control"
                                            cols="30"
                                            rows="15"
                                            placeholder="お問い合わせ/ご依頼内容"
                                    ></textarea>
                            </div>
                        </div>

                        <div class="row form-group justify-content-center">
                            <div class="col-md-6">
                                <button
                                        class="btn btn-primary btn-block send-contact-button text-nowrap"
                                        v-on:click="sendContact($event)"
                                >送信
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="offset-md-2"></div>
            </div>
        </div>

    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--                    <h3>About</h3>-->
                    <div class="site-logo-footer">
                        <a href="#home-section" class="page-logo">
                            <span class="flaticon-coding"></span>
                            NaotoOzaki
                        </a>
                    </div>

                    <div>
                        フリーランスエンジニアとして個人で活動中。<br>
                        ご要望に合わせて、あらゆるシステム開発のお仕事をお引き受け致します。<br>
                        企業様、個人様問わず、些細なことでも是非お気軽に<a href="#contact-section">お問い合わせ</a>ください。<br>
                    </div>
                </div>

                <div class="col-md-2 ml-auto">
                    <h3>Links</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#home-section">自己紹介</a></li>
                        <li><a href="#skill-section">スキル</a></li>
                        <li><a href="#work-section">実績</a></li>
                        <li><a href="#contact-section">お問い合わせ</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>Special Thanks</h3>
                    <div class="row">
                        <div class="col-3 text-center">
                            アイコン
                        </div>
                        <div class="col-9">
                            Font generated by <a href="https://www.flaticon.com" target="_blank">flaticon.com</a>. <p>
                                Under <a
                                        href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC</a>: <a
                                        data-file="005-zoom-in"
                                        href="https://www.flaticon.com/authors/kiranshastry" target="_blank">Kiranshastry</a>,
                                <a data-file="002-internet" href="http://www.freepik.com" target="_blank">Freepik</a>,
                                <a
                                        data-file="003-code"
                                        href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel
                                    perfect</a>, <a data-file="004-brain"
                                                    href="https://www.flaticon.com/authors/smashicons" target="_blank">Smashicons</a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 text-center">
                            ページ雛形
                        </div>
                        <div class="col-9">
                            <a href="https://colorlib.com/">Colorlib</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made by <a href="https://colorlib.com"
                                                                              target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div> <!-- .site-wrap -->


<script src="js/compressed/index.min.js"></script>

</body>
</html>
