#work-muuri {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.item {
    display: block;
    position: absolute;
    width: calc((100% / 3) - 10px);
    /*height: 100px;*/
    margin: 5px;
    z-index: 1;
    /*background: #000;*/
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

/*.muuri-item {*/
/*    width: 32%;*/
/*}*/

@media ( max-width: 877px ) {
    .item {
        width: calc(33.33% - 11px);
        /*height:calc(33.33vw - 11px);*/
    }
}

@media ( max-width: 640px ) {
    .item {
        width: calc(50% - 10px);
        /*height:calc(50vw - 10px);*/
    }
}

@media ( max-width: 450px ) {
    .item {
        width: calc(100% - 10px);
        /*height:calc(100vw - 10px);*/
    }
}

@media (max-width: 991.98px) {
    .muuri-item {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .muuri-item {
        width: 98%;
    }
}

.muuri-item:hover {
    opacity: 1.0;
    /*outline: 5px solid skyblue;*/
}
